{% extends 'settings.base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <style>
        .input-file {
            display: none;
        }
    </style>

    <script>
        const originalPath = '{{ app.user.avatar }}';

        function readURL(inputId) {
            const input = document.getElementById(inputId);

            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                    $('#buttonsSC').removeClass('d-none');
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function cancel() {
            $('#preview').attr('src', originalPath);
            $('#buttonsSC').addClass('d-none');
        }
    </script>

    <div class="col-xl-3">
        <!-- Profile picture card-->
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">Profile Picture</div>
            <div class="card-body text-center">
                {{ form_start(profilePictureUploadForm) }}
                <img class="img-account-profile rounded-circle mb-2" src="{{ asset(app.user.avatar) }}" id="preview"
                     alt="Preview Image">

                <div class="small font-italic text-muted mb-4">
                    JPG or PNG no larger than 5 MB
                </div>

                {{ form_row(profilePictureUploadForm.avatar) }}

                <div class="d-none row" id="buttonsSC">
                    <div class="col">
                        <!-- TODO: Save the image with JS for avoid reloading the page with submit type -->
                        <button class="btn btn-sm btn-success" id="save-button" type="submit">Save</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-sm btn-danger" id="cancel-button" onclick="cancel();">Cancel</button>
                    </div>
                </div>

                {{ form_end(profilePictureUploadForm) }}
            </div>
        </div>
        <br>
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">Store</div>
            <div class="card-body text-center">
                <div class="small font-italic text-muted mb-4">You don't have store</div>
                <button class="btn btn-sm btn-outline-primary" type="button">Create my store</button>
            </div>
        </div>
    </div>

    <div class="col-xl-9">
        <!-- Account details card-->
        <div class="card mb-4">
            <div class="card-header">Account Details</div>
            <div class="card-body">
                <form method="post">
                    {{ form_start(accountEditionForm) }}
                    <div class="mb-3">
                        <label class="small mb-1" for="account_edit_form_username">Username</label>
                        {{ form_row(accountEditionForm.username) }}
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="account_edit_form_first_name">First name</label>
                            {{ form_row(accountEditionForm.firstName) }}
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="account_edit_form_last_name">Last name</label>
                            {{ form_row(accountEditionForm.lastName) }}
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="account_edit_form_location">Location</label>
                            {{ form_row(accountEditionForm.location) }}
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <!--
                                        <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputPhone">Phone number</label>
                            <input class="form-control" id="inputPhone" type="tel"
                                   placeholder="Enter your phone number" value="555-123-4567">
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputBirthday">Birthday</label>
                            <input class="form-control" id="inputBirthday" type="date" name="birthday"
                                   placeholder="Enter your birthday" value="06/10/1988">
                        </div>
                    </div>
                    -->

                    <button class="btn btn-sm btn-primary" type="submit">Save</button>
                    {{ form_end(accountEditionForm) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}